.displayBoxTeam {
  border-radius: 5px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 7px;
  background-color: rgb(165, 165, 165);
}
.characterDisplayFont {
  font-size: x-large;
  margin-top: 40px;
}
.characterDisplayFont2 {
  font-size: xx-large;
  margin-left: 35px;
}
